<strong>[x] There Can Be No Answers Without Questions</strong>
<br><br>
<span>
<ul>
    <li>Taetus</li>
    <ul>
        <li>Swap mark from Taetus to Izu when they're about a day out from the Earth Temple.</li>
    </ul>
    <li>Link</li>
    <ul>
        <li>Continue his new exercise routines with Grenja and meditation with Izu</li>
        <li>Offer Izu the Transfabrulator to train with in preparation for the fights ahead. Izu should be able to use that without setting back his recovery.</li>
        <li>Practice attenuating magic at critical moments, rather than constant burn. Practice fighting offhand.</li>
    </ul>
    <li>Zelda</li>
    <ul>
        <li>Prioritize acquiring the 2 wisdom fragments from Vesryn.</li>
        <li>Pump Lucia for information.</li>
    </ul>
</ul>
</span>