<strong>[x] Plan: There are Four Lights(worn)</strong>
<br><br>
<span>
    <ul>
        <li>Active Marks: Zelda, Link, Taetus</li>
        <li>(Intent: Link and Izu are together, we can rotate which is active as desired if they stick together.)</li>
        <br />

        <li>Link's Perspective:</li>
        <li>While recovering, train lightly (and safely) with Izu and plan to go to the next Lightsworn temple together, with the intent of tackling it as a team, rather than solo. If the opportunity arises during training, have Link (carefully) practice his new Invigorate-based sword technique to get used to having it ready for combat situations. It's very important that this have a cool chuni name if we haven't already given it one, like Lightsworn Invigoration Near-Instant Killing (LINK) technique. (He can practice this earlier with his off-hand if it's feasible to do so safely.)</li>
        <li>Did Fi repairing Link's mark provide her with any new insights on marking in general, and/or how to replicate his lightsworn improvements?</li>
        <li>If Link notices Ryn's pendant, ask about it.</li>
        <li>Implied/Off-Screen: After a sufficient recovery period, Link and Izu set off with their teams toward the next temple.</li>
        <br />

        <li>Zelda's Perspective:</li>
        <li>See if she can combine her enhanced scrying with Shesan's, if Shesan is willing, in order to see if they can come up with enhanced results (e.g. greater range or fidelity than they'd manage on their own). Can they combine their abilities to scry for the location of other wisdom fragments?</li>
        <li>Make plans to meet with the Illdram. (A strategy meeting was mentioned? Attend and discuss there, etc.)</li>
        
        <br />
        <li>Off-Screen:</li>
        <li>[Taetus] Absolutely cool work on trying to leverage his resources to find more examples of old magic, the locations of fragments, etc. If this is outside his skillset, focus on raising morale in the kingdom and gathering relevant political information, such as identifying possible turncoats before they have a chance to strike, etc.</li>
        <li>[Zelda] Continue some basic combat training focusing on defense.</li>
    </ul>
</span>