<strong>[X] Journey before destination</strong>
<ul>
    <li>Continue to Last Bastion</li>
    <li>Questions</li>
    <ul>
        <li>What are Lightsworn?</li>
        <li>Pretend we're a magical neophyte. Give us a crash course in Introductory Magic Theory.</li>
        <ul>
            <li>What do you actually [I]do[/I] when you cast a spell? What energies are you moving, and how?</li>
            <li>How much control do you have over the function of a spell beyond more/less power or targeting?</li>
            <ul>
                <li>Ex. Is there a "right" and a "wrong" way to cast Heal, one being more efficient?</li>
            </ul>
        </ul>
    </ul>
    <li>Private Link talk</li>
    <ul>
        <li>Anything on your mind? Any concerns you didn't want others to hear?</li>
        <li>How safe would Zelda be if Link weren't here? Can we afford to send Link on independent missions?</li>
    </ul>
    <li>SCIENCE!</li>
    <ul>
        <li>Finish research on the Cane's Invigorate effect</li>
        <ul>
            <li>Avenue: Use Void Magic to enhance the target's body to and/or beyond peak condition</li>
        </ul>
        <li>Link: Test magic</li>
        <ul>
            <li>Use our MP to quantify the size of Link's reserves in terms of MP</li>
            <li>In terms of MP, how much does each spell cost?</li>
        </ul>
        <li>Zelda: Sacrifice a modest amount of rupees</li>
    </ul>
    <li>Training</li>
    <ul>
        <li>Link, do you notice any new abilities or magical affinities?</li>
        <ul>
            <li>If so, practice them.</li>
        </ul>
        <li>Get Zelda in dodging shape and capable of at least a few moments of self-defense</li>
        <li>Get Zelda some lightweight imbued armor, if feasible</li>
    </ul>
</ul>
