<strong>Plan: Riposte</strong>
<ul>
    <li>General reply approach: Rebuttal.</li>
    <li>The Lynx is cherry-picking a single mistake from among our many decisions - and that mistake could have easily be avoided if we had access to more information. We've been flying blind, and answers will put is in a better position to make good decisions in the future.</li>
    <li>Choosing not to help us has a much higher risk that we'll do something unexpected in the future. Cooperation will minimize the risk that we will act without reasonable information in the future.</li>
    <li>We are no without our own accomplishments, even without Hylia's aid, such as making Link a Lightsworn.</li>
    <li>She asked us to come to her, not the other way around. We have been more than reasonable, deferring other responsibilities to come to a meeting that the Lynx requested. We will not be bullied or demeaned.</li>
    <li>Ask questions. </li>
    <li>What is the Lynx referring to when she talks about "our" Mother goddess? Who is <em>her</em> mother goddess?</li>
    <li>Reiterate that the Lynx never answered about how she knew "all this" about Hylia, etc.</li>
    <li>Ask out who actually killed Hylia. Also <em>how</em> and <em>why</em>.</li>
    <li>Ask out what the general capabilities and motivations of this Hylia-killing entity.</li>
    <li>How can we fight this entity?</li>
    <li>What are the Lynx's goals? Why did she contact us in the first place?</li>
    <li>Try to find out more about the location in Link's dream that may be nearby. If the Lynx isn't helpful here, have Link investigate through other means later. </li>
    <li>Try to find out more about the triforce fragments, locations, etc.</li>
    <li>Don't be afraid to abandon specific lines of conversation if they are obviously agitating the Lynx. We won't be cowed, but we can still be surgical with our dialogue choices.</li>
</ul>
<hr />
<strong>Note:</strong> Other elements from discussion in the <a href="https://www.reddit.com/r/rational/comments/g6dqi0/rtdc_legacy_of_the_goddess_a_rational_zelda_quest/" target="_blank">reddit thread</a> were also included.
