<strong>[X] Goal Plan: Hail Zelda, Chosen of Hylia</strong>
<ul>
    <li>Advise Zelda on her current concerns</li>
    <li>Suggest that, if she chooses, Legacy could serve as a Hylia stand-in.</li>
    <li>Fi will aid her in her duties as Queen to the fullest extent possible.</li>
    <li>Experiment with Sacrifice</li>
    <li>Research Magic to protect Zelda while she's doing PR</li>
</ul>
<br />
<strong>[X] Detail Plan: Ding dong the Queen is alive!</strong>
<ul>
    <li><a href="https://forums.sufficientvelocity.com/threads/legacy-of-the-goddess-a-rational-zelda-quest.55903/page-21#post-12736322" target="_blank">SOP</a>
    <li>Clarify to Zelda that our experience of time is erratic compared to hers, and our perception limited to her vicinity. Our prior knowledge of this world is also scarce. Caution her against taking our word as writ if it contradicts her own judgement or seems to have missed something</li>
    <li>Fi-detector:</li>
    <ul>
        <li>Have Fi offer aid, advice, and insights to help navigate political meetings</li>
    </ul>
    <li>Who are your confidants, your peers, your staff? We'd advise collecting skilled, competent people to advise you, execute your will, and care for your day-to-day</li>
    <li>Experimenting with Sacrifice (Max 100 VP)</li>
    <ul>
        <li>Ex. Rupees for food? Gold for worked items? Books for knowledge? Beautiful artwork for ??? Rare item for ??? Imbued item for ???</li>
    </ul>
    <li>Zelda morale-boosting: We have profound technological knowledge, everything you've lost and more. Enough to <i>one day</i> build grand bridges and reclaim the skies</li>
    <li>Hylia-ing (lift SOP VP limits)</li>
    <ul>
        <li>Suggest being relatively honest about Zelda's capabilities: No more smiting of foes in the near term.</li>
        <li>Perhaps publicly reveal Zelda's contact with an agent of Hylia, some of the boons we grant? Consult Vestele</li>
        <ul>
            <li>Focus on the "Hylia sent aid" part, not "Hylia's dead"</li>
        </ul>
    </ul>
    <li>Fi: 50 VP into replicating the defensive effects of the Cane of Byrna</li>
    <li>Fires</li>
    <ul>
        <li>Have Link talk to someone (a priest?), work on his issues</li>
        <li>Advise accepting the Lynx deal</li>
        <li>Reach out to Zora and Gorons if reasonable</li>
        <li>Assign Taetus to famine management: He'll do it well and it saves you stress and bad reputation</li>
        <li>Sheikah</li>
        <ul>
            <li>Deploy them against the bandits or roving Blin: small, evasive, high-value targets</li>
            <li>Use the Fi-detector to suss out any traitors before deploying them</li>
            <ul>
                <li>If Fi-detector doesn't work it's still worth the risk: if they're subversive they're clearly playing the long game</li>
            </ul>
            <li>Some can scout the interior for roaming Blin, warn towns or guide extermination forces</li>
        </ul>
    </ul>
</ul>