<strong>[X] Plan - Link Up With Friends But Don't Die</strong>
<br><br>
<span>Link:</span>
<span>
    <ul>
        <li>Use Fi to inform Zelda you are safe and about your experiences.</li>
        <li>Rest.</li>
        <li>Link up with sheikah if they do not come to you.</li>
        <li>Seek out Lucia. If possible, see if she is willing to help on our quest and/or help Hyrule in general.</li>
        <li>While in the area, use the tablet and up to 500 VP to try to locate old magic items.</li>
        <li>If you see signs you're in an illusion (e.g. can't contact Fi reliably, location description doesn't match mausoleum, Fi has weird arms) and are confronted with the slightest sign of danger, retreat until the illusion goes away.</li>
        <li>Periodically use Scry to check for being in an illusion.</li>
    </ul>
</span>