
<p>[Plan: Wordcount Matters]</p>

<p>Please reply with suggestions on changes to the plan. I've borrowed a number of research items from u/Salaris.</p>

<p>[Link Actions]</p>

<ul>
    <li>Wait a day or more at the spire if food supply won't be an issue. This gives Zelda time to locate Ibosso more precisely than a vague 'somewhere east of here'</li>
    <li>Attempt to see if you have new abilities, like stronger magic affinity, a larger mana pool, or instinctive understanding of an ability like what happened with Invigorate.</li>
    <li>Experiment using the <em>Transfabrulator</em> with the Sheikah trio while Fi runs tests on it. Let them <del>play with the new toy</del> practice using it as well (assuming a non-Lightsworn is able to).</li>
    <li>Head off to hunt ghosts, resupplying at small bandit camps as needed.</li>
</ul>

<p>[Zelda Actions while journeying]</p>

<ul>
    <li>Check with Shesan and Naibi on what they know about Ibosso, his tribe, and his burial site. Also ask the Order of Sages, via scry-link, if there are any records on a Gerudo king named Ibosso. Fragment should not be mentioned over scry-link.</li>
    <li>Talk to her advisers, Laylith &amp; Izu mainly, about what Hyrule does with the blin corpses. I suppose checking with Shesan on what she knows about Stalfos would be prudent as well. If Ganondorf can turn them into Stalfos, he could raise another army in the middle of Hyrule! Perhaps the dream about skeletons refers to this potential threat? The corpses should be destroyed if it's not done already. Send orders to that effect via scry-link if needed.</li>
    <li>Get some language training in Gerudo speech, mostly for Fi's benefit.</li>
    <li>The attribute associated with the power fragments might be ambition. Does Shesan think Naibi would be a possible candidate and does she agree that ambition as a character trait might be it? Distressingly, Taetus might be the most ambitious person Zelda knows if she can't find anyone else suitable.</li>
</ul>

<p>[Zelda Actions back in town] Marking this down as future reference of things to do in future plans.</p>

<ul>
    <li>Once back in Castletown, arrange to meet with Vestele in person, because of the sensitive nature, to have the seekers review what sort of sacrifices and boons the Fae usually demanded/gave. Ganondorf is probably using Sacrifice for power, so we want info on how he could use it to benefit himself and harm Hyrule. Additionally, Fi might be able to replicate what the Fae did with VP.</li>
    <li>If the Zora members of the Order of Sages are willing and able, have them give Zelda a crash course on speaking the Zora language. Only do it for however long Fi thinks it will take for Fi to understand the language. Read them in on Fi's existence and her language ability if needed to convince them.</li>
    <li>When some blin have been captured, they might talk to each other if confined together. Zelda and Fi can listen in. If her advisors have other ideas about how to get blin prisoners to talk, that would be lovely.</li>
    <li>Ask Lensa for her help in getting a short list of suitable consorts.</li>
</ul>

<p>Research:</p>

<p><em>Transfabrulator Research</em>:</p>

<ul>
    <li>Spend up to 100 VP researching the transfabrulator.</li>
    <li>Attempt to study how individual functions work, such as conjuring and projecting objects. Can Fi replicate the functions using VP?</li>
    <li>Attempt to discern how it recharges after use, and if that self-recharging function could be emulated.</li>
    <li>Attempt to scan to learn what type of power (VP, mana, etc.) powers the item.</li>
    <li>Attempt to discern if it may be possible to recharge the transfabrulator with magic or VP.</li>
</ul>

<p><em>Book Research</em>:</p>

<ul>
    <li>Have Link briefly skim over the books and papers with Fi to determine their general subject matter. If any of them have information that may be immediately relevant (e.g. material on fragments, Demise, Lightsworn, any form of magic that or magic item that is presently unable to be replicated, etc.), have Link go through high priority sections with Fi translating.</li>
</ul>

<p><em>Empower Research</em>:</p>

<ul>
    <li>Spend up to 50 VP attempting to research the Empowerment function that was used on Zelda with the intent of learning how to create a scaling version of the effect with variable power output.</li>
    <li>Utilize any data that Fi has available from pre-empowerment Zelda, during empowerment Zelda, post-empowerment Zelda, and other baseline scans of Hylians in this research process.</li>
    <li>Also utilize information from other forms of temporary magic transfer, e.g. siphon, and similar abilities such as Marking, Imbue Object, and Invigorate.</li>
    <li><strong>Intended magic goal:</strong> <em>Scaleable Empowerment</em> - This empowers the target, temporarily granting them a tremendous increase in ability by suffusing them with old magic. The level of improvement scales with VP expended, with a minimum expenditure of 100 VP and no upper limit. This lasts a variable duration based on the VP expended in this process.</li>
</ul>

<p><strong>Fi Memory Projects:</strong></p>

<p>Defer this to a future update or ignore entirely if the QMs do not feel it is appropriate to include in this update.</p>

<ul>
    <li>Ask Fi if Marking someone who speaks another language would give Fi an easier time comprehending that language.</li>
    <li>If Fi consents and believes there is any possibility of success, attempt to use Healing magic to restore Fi's lost memories. If this does not work or seem viable to Fi/Zelda/Link, discuss if it may be possible to restore Fi's lost memories through other means, such as direct applications of VP.</li>
</ul>