<strong>Plan: Critical Path</strong>
<ul>
    <li>Maintain SOP, including time-sensitive uses of VP for old magic. (Do we need an updated SOP post?)</li>
    <li>Send messages back to castle town to appraise them of your situation, but do not turn back. Finish the mission with the Lynx with your party intact.</li>
    <li>If you happen to have any zora specialists with you, you can send them, but do not send Link or Zelda.</li>
    <li>Delegate someone appropriate back at home to deal with the zora situation. If anyone is an expert at Zora culture or language, try to loop them in.</li>
    <li>By default, choose Vestele to handle the zora matter, unless we have a relevant ambassador or zora specialist. We know she's probably on our team and already very well aware of our whole situation. Make sure she's well-protected, too. (Is Vestele still with us? I assume she isn't, but I'm not 100% certain.)</li>
    <li>There was a mention early in the story about asking Sages Rutilo or Vulas about "evils long thought dormant". If we have not already done this explicitly (I can't recall), see if we can contact them for information.</li>
    <li>Zelda's dream came true. Link is also getting nightmares. Let's look into this further. Ask Link if he's comfortable sharing his dreams. See if you can figure out any recurring details that may be usable to avoid the fate.</li>
    <li>If viable, have Fi teach Link and Zelda techniques that may be useful for exploring their dreams (e.g. lucid dreaming techniques). Given the prophetic nature of the dreams, this may be iffy, but it may be worth investigating.</li>
    <li>Have Link describe his vision of the mountains surrounded by a desert locale to Naibi and see if she has any idea what the location is or what the significance of it might be. It may be worth researching and/or visiting that location before we leave this region.</li>
    <li>Encourage Link to rest and work on his mental health. Explain that as a hero, he needs to be in top shape, and that rest and recovery from his tasks are extremely important factors to ensuring that he's in the best shape for major confrontations. Encourage him to learn Soothe to cast on himself to help him sleep more easily. Have Fi use Invigorate to help him rest and recover more easily if needed.</li>
    <li>Ask Naibi about this Gandondorf's demonstrated capabilities in terms of magic and combat, as well as the known size of his forces.</li>
    <li>Magic Research: Spend up to 100 VP on researching the old magic detection device to see if its effect can be duplicated without the device or if other magics (e.g. an "identify old magic" rather than a "detect old magic") could be potentially explored.</li>
    <li>Questions for Fi: What qualifies as "heroic" for the purposes of generating Divine Power? What are the expectations of heroism for a Champion of Hylia? Did you observe a spike in Divine Power earnings when Link fought the Kodongo?</li>
</ul>