<strong>[x] Plan: Please Do Not Break the Zelda</strong>
<ul>
    <li>Console Zelda</li>
    <ul>
        <li>We'll get to the bottom of this.</li>
        <li>Don't let this kill your hope. It's exactly what the attackers want.</li>
        <li>Convey Legacy's thanks to Link. He's the reason evil didn't win today.</li>
        <li>Make sure the exhausted Sheikah rests and gets thanked.</li>
    </ul>
    <li>She can improve a bit:</li>
    <ul>
        <li>Information security!</li>
        <ul>
            <li>Fi's lie detector option could have stayed a secret, you did not [I]need [/I]to reveal it to that Sheikah.</li>
            <ul>
                <li>Maintaining the secrecy of such abilities may very well end up being [I]critical[/I]. Please exercise greater discretion in the future.</li>
            </ul>
        </ul>
        <li>Her concerns about assassination attempts were absolutely justified.</li>
        <ul>
            <li>At the same time,[I] fear[/I] is a tool only in the hands of the enemy. Walk tall.</li>
        </ul>
    </ul>
    <li>Security:</li>
    <ul>
        <li>Get some Sheikah on the job of finding:</li>
        <ul>
            <li>Able volunteers for city militia and patrols to make the city safer.</li>
            <li>Soldiers or retired veterans to expand your personal guard.</li>
            <ul>
                <li>Vet them heavily.</li>
            </ul>
        </ul>
        <li>The above report to Link and Wymar--when he gets back-- on this.</li>
        <ul>
            <li>Give Link carte blanche.</li>
        </ul>
        <li>Link sleeps nearby.</li>
        <ul>
            <li>Make sure he [I]does[/I] sleep, though.</li>
        </ul>
    </ul>
</ul>
