<h4 style="text-decoration: underline">Note:</h4>
<span>When this quest first began, the player interface was different, with Fi being the main mechanism by which players interacted with the world (rather than informing character actions directly). The player character of "Legacy" initially introduced in this chapter has since been retcon.</span>
<hr>
<strong>[X] Action Plan: Greetings from Another Dimension</strong>

<ul>
    <li>Fi:</li>
    <ul>
        <li><a href="https://forums.sufficientvelocity.com/threads/legacy-of-the-goddess-a-rational-zelda-quest.55903/page-21#post-12736322" target="_blank">Standing orders.</a></li>
        <li>How much would it cost to mark Vesryn/Golvara/Nineve/Wymar/Raolin/Anil/Nilda/Seff? How much Void Power would we get from them?</li>
        <ul>
            <li>What do we need to do for a more accurate reading?</li>
            <li>What happens if we try without the full amount?</li>
        </ul>
        <li>Could someone like Vesryn be Marked from afar, consenting to the Mark but unaware of the full implications?</li>
        <li>What else should we know about this realm's divinities and great powers?</li>
        <li>Do you have any ideas on other ways to gain Void Power?</li>
        <li>Did Zelda's empowerment have lasting aftereffects?</li>
        <li>Can you learn spells from mortal knowledge without Research Magic?</li>
        <li>Can someone Siphon Magic Power to you?</li>
        <li>When manifested, can you move around and perceive things on your own? If so, how fast are you?</li>
        <li>Can you parallelize any of your operations?</li>
        <li>Do the following when/if it doesn't interfere with the meeting:</li>
        <ul>
            <li>Use Convert Magic with 50 Void Power when viable.</li>
            <li>Spend 10 VP on researching a lesser Mark of Transferrence focused on energy gain and cost to place without the other features of the regular Mark.</li>
        </ul>
    </ul>
    <li>Create Ethereal Avatar at a suitably dramatic moment:</li>
    <ul>
        <li>We are not Hylia. "Hylia's power is spent, and I have been charged to act in her stead. Call me Legacy."</li>
        <ul>
            <li>With Hylia's guidance we chose two heroes to save from peril, empowering one to save the other.</li>
            <ul>
                <li>Zelda has an unparalleled mind, Nayru's favour, and a piece of Wisdom.</li>
                <li>Link is a peerless warrior, Farore's chosen, and holder a piece of Courage.</li>
            </ul>
            <li>We believe that the two of you have what it takes to face the trials ahead and save the realm.</li>
        </ul>
        <li>Our power and knowledge is limited, but we can still help.</li>
        <ul>
            <li>Explain our most direct powers: Intangible Avatar, Ethereal Avatar, Bequeath Magic, Telepathy, and Mark of Transference.</li>
        </ul>
        <li>The Mark Zelda bears designates her our champion, and also provides us power that we can use to assist her endeavors.</li>
        <li>We can have three such champions at a time, and when we have saved enough power to do so we wish for Link to be the second.</li>
        <li>Explain the rest of our abilities, but avoid the term 'Void'. Express that we don't know much about our nature.</li>
        <ul>
            <li>When explaining Research Magic, note the possibility of using old legends or magic artifacts for leads.</li>
        </ul>
        <li>Convey all relevant information learned from Impa's POV.</li>
        <ul>
            <li>Convey our condolences for her demise. We had thought to save her too, but any deviation from Hylia's plan might have resulted in the loss of everything.</li>
        </ul>
        <li>Suggested actions:</li>
        <ul>
            <li>Link: Guard Zelda's physical safety and work with Raolin to support her position on the council.</li>
            <li>Zelda: Research old legends, magics, and artifacts for us to replicate; investigate the varied conspiracies in the palace.</li>
        </ul>
        <li>Answer any other questions Zelda and Link have, but switch to Intangible Avatar after an hour.</li>
        <li>Describe the 'Marked Interactions' of Fi's SOP, and ask that she be prudent.</li>
    </ul>
</ul>