<strong>[X] Plan: Afterparty</strong>
<br><br>
<span>
    <ul>
        <li>Izu rests/recuperates</li>
        <li>Izu travel to Kakariko once he's back on his feet to meet Link & Golvara. Healing Link may require a marked champion and he can see his family. Assuming a large enough escort can be prepared/blin threat reduced enough</li>
        <li>Izu/Link talk to Golvara, what happened with Jabu and what do the Zora need from Hyrule in assistance. Also ask about the suspected Lightsworn facility in Zora's Domain from Link's vision.</li>
        <li>Taetus does some combat training in his copious spare time. He utilizes some of this to attempt to determine how much his combat and/or spellcasting ability can be augmented by the usage of one power fragment.</li>
        <li>Taetus spread the news of Izu the Magnificent's miraculous success. Thanks to Hylia's blessing another champion, like she did with Queen Zelda, Hyrule has been saved again! Basically propaganda to boost morale. Include the rest of the members of Izu's team in any public honors, unless operational security dictates otherwise (e.g. if sheikah members abilities are intended to be secret, etc.)</li>
        <li>Zelda visit the other members of Izu's team and thank them personally if she has not already done so.</li>
        <li>Zelda ask the Goron messenger for any intel and relevant magic knowledge. Tell the Goron messenger Hyrule doesn't have records of what exactly is required to fulfill the blood oath. What exactly does Zelda or her representative need to do? Be very polite about the blood oath. Ask the Goron messenger if he's heard of 'A temple built from living wood and shaped into a sprawling labyrinth. A lone volcanic mountain surrounded by a ring of islands somewhere out at sea.' Also inquire about the whereabouts of Goron Sage Asdrum.</li>
        <li>Zelda request Shesan's assistance with scrying for the Blin shaman Ildram. He's indirectly connected to Ganondorf through the blin warlord and with Jabu in the creation of soulsteel. So hopefully her scrying can work.</li>
        <li>Does Zelda or any of the experienced blue mages gathered in Castletown know if combining foretelling and scrying with a map of Hyrule could work to save mana? i.e. foretelling if a scry in that location will find Ildram. Are there any blue mages that can be spared from Wymar's efforts with the army to help search for Ildram? If Ildram is located, he is probably non-hostile and agents sent to locate him should be aware of that. No killing him on sight.</li>
        <li>Zelda request Wymar for the army/a Sheikah team to capture some blin that hold soulsteel alive, so those weapons can be investigated. Only if feasible without endangering the efforts to clear Hyrule of blin</li>
        <li>Message to Link & Golvara. Izu and his team killed blin warlord. No casualties! Area around castletown still not secure. Proceed to Kakariko as requested earlier.</li>
        <li>Budget 500 VP max for fixing Link and examining what happened to him that broke Fi's connection.</li>
    </ul>
</span>