<strong>[Plan: Talk no Jutsu]</strong>

<ul>
    <li>Attempt to talk it out. </li>
    <li>Concept: Talking is actually the braver move here: picking up a sword and shield and fighting is less brave, because it is (at least partially) admitting defeat on his objective.</li>
    <li>Suggested dialogue angle: "I may not be a hero, but I will do anything in my power to save the people of this world, and I am not your enemy."</li>
    <li>If he looks like he's going to attack, hit him with Soothe as hard as possible.</li>
    <li>Fi: Feed Link extra mana for a stronger Soothe if possible.</li>
    <li>If he attacks, attempt to evade and continue to talk, unless sorely pressed.</li>
    <li>Fi: If Link is in a critical situation, intervene on his behalf if necessary. For example, if Ibboso looks like he's about to deliver a killing blow, you have permission to use Compel on Ibboso to stop him from attacking.</li>
    <li>Link: If dying or otherwise in a critical about-to-die sort of situation, attempt to break illusion with Scry. This is an emergency measure and should not distract from normal evasion and tactics.</li>
</ul>