<strong>[X] Plan - Don't go (back) alone</strong>
<br><br>
<span>[Actions - Zelda]</span>
<br>
<span>Mark a champion to duel and kill the 3rd Moblin warlord. Mark Izu or someone Laylith and Izu think would be better. (keep whoever it is on passive for the moment.) Make a public announcement that you have marked a champion with the blessings of Hylia to turn the tides in battle. (Have Taetus vet this idea first; if terrible, skip.)
</span>
<br><br>
<span>Confide with Laylith, Taetus, and Shesan, that a Blin shaman was contacting you through your prophetic dreams. He claimed to have at least one Wisdom fragment (likely true given how he communicated with Zelda) and that the Moblin warlord might have a Power fragment. Apparently, Ganondorf gave the Power fragment to the warlord? Wasn't that impossible, Shesan? Could Taetus give his power fragment to our new marked champion to give him better odds?
</span>
<br><br>
<span>Relay information from Link's magic documents to available Seekers and Sheikah; see if they can recreate Stasis or if there are other insights in the documents they were unaware of.
</span>
<br><br>
<span>Begin working on attempting to recreate elemental rods (see rod research below). They brought out an ancient weapon? Two can play at that game! Leverage any experts and books in the capitol, as well as any information you can find in Link's documents.
</span>
<br><br>
<span>See if it's possible for your troops to capture a Soulsteel weapon and bring it back to study.
</span>
<br><br>
<span>Rod/Imbue Research:</span>
<br><br>
<ul>
    <li>Skip any tests that make zero sense to Zelda as a result of her knowledge of how magic works, etc.</li>
    <li>Attempt to draw on Blue Burst and Blue Imbue at the same time with the intent of creating an ice rod.</li>
    <li>If this does not work, attempt to mix a Blue Burst with a Green Imbue and see what happens.</li>
    <li>Attempt to imbue an item with all three colors of magic at once in a sufficient quantity that it would normally cause the item to glow and reach the state of conceptual improvement. See what happens.</li>
    <li>If none of the previous methods have caused the creation of a new form of item, but also have not caused anything dangerous to occur, attempt a triple color imbue + Blue Burst on the same item if it is physically possible to do so.
    </li>
    <li>If we manage to get a triple imbued item, but it doesn't seem to do anything different than a normal imbued item, attempt to power it with up to 50 VP to see if that does anything.</li>
    <li>If we manage to get an item to hold both an imbue and a burst, but that doesn't make it into an elemental rod, attempt to power it with up to 50 VP.</li>
    <li>If none of the mixed imbues work, attempt to power a normal imbued item with up to 50 VP and see if that does anything.</li>
    <li>If any of the tests seem like they are noticeably working toward successfully making something like an ice rod, spend up to 500 VP to make a functional ice rod.</li>
</ul>
<br>
<span>[Actions - Taetus]</span>
<br>
<span>Continue coordinating the evacuation.</span>
<br><br>

