<strong>Note:</strong>
<span>There was no single winning plan. This chapter was taken from an amalgamation of player input in the <a href="https://www.reddit.com/r/rational/comments/fuiff4/rtdc_legacy_of_the_goddess_a_rational_zelda_quest/" target="_blank">reddit thread.</a></span>
