<strong>[X] Organize and direct the Sheikah according to trustworthiness, and begin making public appearances to raise morale. Appoint a successor for the sake of stability. Spend 100 VP testing the cost to Mark Link, 10 VP on the Cane of Byrna's invigoration effect, and 10 VP on the Lens of Truth effect, and then continue saving up to Mark Link.</strong>
<br><br>
<strong>[X] She shall from time to time give to the People information of the State of the Kingdom</strong>
<ul>
    <li>Sheikah</li>
    <ul>
        <li>Cleared: Trusted</li>
        <ul>
            <li>Guard Zelda, vet less-trusted Sheikah, lead anti-Blin/-Bandit squads</li>
        </ul>
        <li>Maybe Cleared: Eh</li>
        <ul>
            <li>Operate under the supervision of Cleared</li>
        </ul>
        <li>Unknown: On ice</li>
        <ul>
            <li>Incarcerate pending further assessment of their loyalties</li>
            <li>Fill up (safe) imbued items</li>
        </ul>
    </ul>
    <li>Morale</li>
    <ul>
        <li>Tour the reconstruction efforts, visit the injured, etc.</li>
        <li>Give a speech/review the troops when Wymar departs</li>
        <ul>
            <li>Speak about the tragic losses, empathize and channel your own loss</li>
            <li>Be suitably solemn, but segue into hope/determination: Hyrule will endure and grow stronger, this fire has only tempered our steel, etc.</li>
        </ul>
        <li>Announce appointment of Wymar as successor—consult him first</li>
        <ul>
            <li>(Reassure Zelda that this is a PR/stability move, she's our #1)</li>
        </ul>
    </ul>
    <li>Link's Marking:</li>
    <ul>
        <li>Play a card game and chat, talk shop, discuss Compel experiments to pass the time. Try to build a rapport.</li>
        <li>Don't force yourself to fill silence, Link will appreciate companionable quiet more than forced conversation.</li>
    </ul>
    <li>Misc</li>
    <ul>
        <li>Reestablish relations with Gorons</li>
        <li>Delegate: Look into Anli's disappearance</li>
        <li>Delegate: Where's Seff? He [I]knows[/I] things</li>
    </ul>
    <li>SCIENCE!</li>
    <ul>
        <li>Contact Order of Sages for info on Old Magic, any artifacts they might have</li>
        <li>Experiment with range/cost/versatility of Compel on small animals and bugs. Max 50 VP total</li>
        <li>10 VP each into Lens, Invigorate</li>
        <li>Give Zelda some MP, longshot fatigue fix</li>
    </ul>
</ul>
