<strong>Winning plan:</strong>
<ul>
    <li>[x] Empower Zelda (35 votes)</li>
    <li>[x] Save Link (32 votes)</li>
</ul>
<strong>Runner up:</strong>
<ul>
    <li>[x] Empower Link (19 votes)</li>
    <li>[x] Save Zelda (17 votes)</li>
</ul>