<strong>[x] Plan: There are Four Lights(worn)</strong>
<br><br>
<span>
    <ul>
        <li>Zelda's Perspective:</li>
        <li>See if she can combine her enhanced scrying with Shesan's, if Shesan is willing, in order to see if they can come up with enhanced results (e.g. greater range or fidelity than they'd manage on their own). Can they combine their abilities to scry for the location of other wisdom fragments?</li>
        <li>Make plans to meet with the Illdram. (A strategy meeting was mentioned? Attend and discuss there, etc.)</li>
        
        <br />
        <li>Off-Screen:</li>
        <li>[Taetus] Absolutely cool work on trying to leverage his resources to find more examples of old magic, the locations of fragments, etc. If this is outside his skillset, focus on raising morale in the kingdom and gathering relevant political information, such as identifying possible turncoats before they have a chance to strike, etc.</li>
        <li>[Zelda] Continue some basic combat training focusing on defense.</li>
    </ul>
</span>
<hr/>
<strong>[x] There Can Be No Answers Without Questions</strong>
<br><br>
<span>
<ul>
    <li>Taetus</li>
    <ul>
        <li>Swap mark from Taetus to Izu when they're about a day out from the Earth Temple.</li>
        <li>Thank him for managing day to day affairs to keep the kingdom afloat</li>
    <ul>
        <li>However, Taetus is one of the kingdom's best plotters. It seems a waste for him to devote so much of his time to important but droll work. Nonetheless, the work is obviously vital so someone should be doing it.</li>
        <ul>
            <li>If he is amenable, have him search for suitable lieutenants that can manage the more mundane affairs, needing only to check in with him for perhaps an hour a day to get his approval. Be wary of granting any one of them too much authority, it would be a strong attack angle for enemies to infiltrate such a position.</li>
            <li>Meanwhile, have Taetus take a more direct role in dealing with the recent child-kidnapping scheme.</li>
        </ul>
    </ul>
    <li>Keep up his training regimen. It seems to be paying off already.</li>
    </ul>
    <li>Link</li>
    <ul>
        <li>Continue his new exercise routines with Grenja and meditation with Izu</li>
        <li>Offer Izu the Transfabrulator to train with in preparation for the fights ahead. Izu should be able to use that without setting back his recovery.</li>
        <li>Practice attenuating magic at critical moments, rather than constant burn. Practice fighting offhand.</li>
    </ul>
    <li>Zelda</li>
    <ul>
        <li>Prioritize acquiring the 2 wisdom fragments from Vesryn.</li>
        <li>Have Wymar pick out 100ish soldiers for the boat and begin training them in operating the commissioned vessel. Brainstorm tactics around its unique features, as requested by Shesan.</li>
        <li>Either task Allanah a team to scout out where that Goron hammer is actually located. Or if being covert is considered infeasible, have her work on keeping the kingdom from imploding.</li>
        <li>Question for Shesan: Does the ship have cannons?</li>
        <li>Pump Lucia for information.</li>
    </ul>
</ul>
</span>