<strong>[X] Life before death</strong>
<ul>
    <li>Templing - Take a few days if necessary</li>
    <ul>
        <li>Ask the temple about:</li>
        <ul>
            <li>Any information they have on fae, old magic, fragments, relics, etc.</li>
            <li>Any knowledge they have regarding the Goddesses increasing Affinities</li>
        </ul>
        <li>Procure:</li>
        <ul>
            <li>Any artifacts or relics Zelda can, particularly the remains of the scepter and other "inert" items</li>
            <li>Some monks to travel with Zelda and aid in her research</li>
        </ul>
        <li>That vision gave us... insight into the nature of the world, could Zelda gather up:</li>
        <ul>
            <li>Any aluminum she can get her hands on</li>
            <li>A few dozen small (finger-sized) spikes of pure iron</li>
        </ul>
    </ul>
    <li>Mark Link</li>
    <ul>
        <li>Stop after spending 500 VP if Fi isn't sure that it's possible with current reserves. Stop also when she's sure it [I]isn't[/I] possible, if that's before the 500 mark.</li>
    </ul>
    <li>SCIENCE</li>
    <ul>
        <li>Experiment with Compel. Max 50 VP</li>
        <ul>
            <li>Test rang/cost/versatility on small animals and bugs</li>
            <li>Test if aluminum interferes with it</li>
        </ul>
        <li>Sacrifice - Only do one of these</li>
        <ul>
            <li>A batch of similarly Imbued items, ~10 if possible</li>
            <li>Have your people capture some Blin. Sacrifice one</li>
        </ul>
        <li>If we can get access to a Blin-speaker, have Fi Analyze Language with up to 100 VP</li>
    </ul>
    <li>Message Castletown ordering them to keep the assassin alive</li>
</ul>
