<strong>[X] Plan: Picking Up a Loose Thread</strong>
<ul>
    <li>Zelda: Order Seekers and Sages to reports all information on Fae, old legends/myths, magical history and theory, Old Magic, Fragments, etc.</li>
    <li>Organize Heralds to Castleton's residents. Goal: calm, boost morale, and public order. Convey precious speech, with regrets due to not wanting to further risk Hylia's children from further traitorous violence.</li>
    <li>Zelda: meet the Lynx.</li>
    <ul>
        <li>Assess loyalty of Zelda's staff. All high-ranking staff members will secretly prepare a unique route for travel. Each of these routes will be scouted by Sheikah for assassins. Zelda randomly chooses from all available routes which one is actually traveled.</li>
        <li>An ambush means disloyalty and requires the planners' arrest/interrogation. Begin vetting all staff by Fi.</li>
    </ul>
    <li>On the road:</li>
    <ul>
        <li>Ask about 'Fragments'?</li>
        <li>Sacrifice Experimentation</li>
        <ul>
            <li>Sacrifice a known mass of unworked stone.</li>
        </ul>
        <li>Experiment with Compel on small animals and bugs. Max 50 VP</li>
    </ul>
    <li>Communication</li>
    <ul>
        <li>If the Wisdom fragments enable *long* range communication then try to use it to reach out to Vesyrn and Wymar.</li>
        <ul>
            <li>Contact Vesyrn. He's might be doing this as an olive branch. See what he has to say.</li>
            <li>Let Wymar know that you have the fragments and how</li>
        </ul>
    </ul>
</ul>
