<ul style="min-width:300px">
    <li><a href="/Story?chapter=C1">Chapter 1</a></li>
    <li><a href="/Story?chapter=A1">Prologue 1</a></li>
    <li><a href="/Story?chapter=A2">Prologue 2</a></li>
    <li><a href="/Story?chapter=C2">Chapter 2</a></li>
    <li><a href="/Story?chapter=C3">Chapter 3</a></li>
    <li><a href="/Story?chapter=C4">Chapter 4</a></li>
    <li><a href="/Story?chapter=C5">Chapter 5</a></li>
    <li><a href="/Story?chapter=C6.1">Chapter 6.1</a></li>
    <li><a href="/Story?chapter=C6.2">Chapter 6.2</a></li>
    <li><a href="/Story?chapter=C7">Chapter 7</a></li>
    <li><a href="/Story?chapter=C8">Chapter 8</a></li>
    <li><a href="/Story?chapter=C9">Chapter 9</a></li>
    <li><a href="/Story?chapter=C10">Chapter 10</a></li>
    <li><a href="/Story?chapter=C11">Chapter 11</a></li>
    <li><a href="/Story?chapter=C12">Chapter 12</a></li>
    <li><a href="/Story?chapter=C13">Chapter 13</a></li>
    <li><a href="/Story?chapter=C14">Chapter 14</a></li>
    <li><a href="/Story?chapter=C15">Chapter 15</a></li>
    <li><a href="/Story?chapter=C16">Chapter 16</a></li>
    <li><a href="/Story?chapter=C17">Chapter 17</a></li>
    <li><a href="/Story?chapter=C18">Chapter 18</a></li>
    <li><a href="/Story?chapter=C19">Chapter 19</a></li>
    <li><a href="/Story?chapter=C20">Chapter 20</a></li>
    <li><a href="/Story?chapter=C21">Chapter 21</a></li>
    <li><a href="/Story?chapter=C22.1">Chapter 22.1</a></li>
    <li><a href="/Story?chapter=C22.2">Chapter 22.2</a></li>
    <li><a href="/Story?chapter=C23">Chapter 23</a></li>
    <li><a href="/Story?chapter=C24">Chapter 24</a></li>
    <li><a href="/Story?chapter=C25">Chapter 25</a></li>
    <li><a href="/Story?chapter=C26">Chapter 26</a></li>
    <li><a href="/Story?chapter=C27">Chapter 27</a></li>
    <li><a href="/Story?chapter=C28">Chapter 28</a></li>
    <li><a href="/Story?chapter=C29">Chapter 29</a></li>
    <li><a href="/Story?chapter=C30">Chapter 30</a></li>
    <li><a href="/Story?chapter=C31">Chapter 31</a></li>
    <li><a href="/Story?chapter=C32">Chapter 32</a></li>
    <li><a href="/Story?chapter=C33">Chapter 33</a></li>
    <li><a href="/Story?chapter=C33">Chapter 34</a></li>
    <li><a href="/Story?chapter=C33">Chapter 35</a></li>
</ul>